/* цвет h1 FFFFFF */
/* цвет чеpный h2 h3 212121 */
/* цвет р 757575 */
/* цвет синий 2196F3 */
:root{
    --white-color:#FFFFFF;
    --black-color: #212121;
    --blue-color: #2196F3;
    --basic-text-color: #757575;
    --section-order-service:#2F303A;
}
/* Боди CSS */

body{
    background-color: var(--white-color);
    color: var(--basic-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    
    
    
}
.container{
    width: 1230px;
    outline: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.container-nav-page{
    outline: 1px solid teal;   
}

a{
    text-decoration: none;
}
/* Лого спан цвет */
.black{
    color: var(--black-color);
}
.white{
    color: var(--white-color);
}
.basic{
    background-color: var(--white-color);
    margin-top: 24px;
    margin-bottom: 0px;
    
}
.logo{
    color: var(--blue-color);
    font-family: 'Raleway';
    font-size: 26px;
    
     
}
.logo .black:hover{
    color: var(--blue-color); 
    
  
}

.logo .white:hover{
    color: var(--blue-color);
}

ul{
    list-style: none;
}
.basic-linc,
.basic-linck{
    margin: 0%; 
}
.basic-linc{
    padding-left: 0%;

}
.basic-linc .linc{
    color: var(--black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;    
}

.basic-linc .linc:hover, 
.basic-linc.linc:focus{
    color: var(--blue-color);
    
}
.basic-linc .linc.current{
    color: var(--blue-color);
}


/* мило и адресс */

.basic-linck .linck{
    color: var(--basic-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.basic-linck .linck:hover, 
.basic-linck.linck:focus{
    color: var(--blue-color);
}

/* Cекции h1 h2 */
.section-color-black{
    background: var(--section-order-service);
    outline: 2px solid red;
    margin-top: 0%;
    text-align: center;
    

    
    

}
.section-title-h1{
    color : var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;

}
.section-color-black{
    outline: 2px solid red;
    margin-bottom: 94px;

}
.section-title-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 94px;   
}

.button {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.8;
    font-size: 16px;
    border:  #2196F3;
    border-radius: 4px;
    text-align: center;
    
}
.button:hover,
.button:focus{
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
    opacity: .7;

/* Кнопки портфолио */
}
.button-grey{
    font-family: inherit;
    background-color: #F5F4FA;
    color: var(--black-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-grey-block{
    display: flex;
    justify-content: center;

    margin-top: 0px;
    margin-bottom: 34px;
    padding-left: 0px;
}
    
.button-grey:hover,
.button-grey:focus{
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;

}
/* Картинки */
.section-picture{
    margin-top: 0%;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 94px;
}

/* Cекции h3 */


.main-information{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
    margin-top: 0;
    margin-bottom: 10px;
}
.information{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--basic-text-color);
    letter-spacing: 0.03em;
    display: inline-flex;
    text-align: start;
    outline: 2px solid red;
    margin-top: 0%;
    margin-bottom: 94px;
}
.main-information-title{
    margin-top: 0%;
}
/* Команда */
.section-team-container{
    outline: 5px greenyellow;
    
} 
.section-team{
    background: #F5F4FA;
    outline: 2px solid teal; 
}
.section-people{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    padding-bottom: 94px;
    padding-left: 0px;
}
.section-people li{
    background-color: var(--white-color);
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.section-team-h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--black-color);
    

}
.section-team-p{
    font-size: 16px;
    line-height: 1.18;
    color: var(--basic-text-color);
    
    
}
/* Проект */

.section-block{
    margin-top: 0px;
    padding-left: 0px; 
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.project-item{
    width: 370px;
    border: 1px solid #EEEEEE;
    
    
    
    
    
}
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);
    
    

}

.project p{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--basic-text-color);
    
    
}





/* Футер */
.footer-grey{
    background-color: var(--section-order-service);   
}
.address{
    color: var(--white-color);
    font-style: normal;
    margin-bottom: 9px;

}
.basic-linck-footer .linck-footer{
    color: var(--basic-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-bottom: 9px;

    
}
.basic-linck-footer{
    padding-left: 0px;
}
.linck-footer{
    color: var(--blue-color);
}
