/* цвет h1 FFFFFF */
/* цвет чеpный h2 h3 212121 */
/* цвет р 757575 */
/* цвет синий 2196F3 */
:root{
    --white-color:#FFFFFF;
    --black-color: #212121;
    --blue-color: #2196F3;
    --basic-text-color: #757575;
    --section-order-service:#2F303A;
}
/* Боди CSS */
.container-page{
}

body{
    background-color: var(--white-color);
    color: var(--basic-text-color);
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    
    
    
}
a{
    text-decoration: none;
}
/* Лого спан цвет */
.black{
    color: var(--black-color);
}
.white{
    color: var(--white-color);
}
.basic{
    background-color: var(--white-color);
    
}
.logo{
    color: var(--blue-color);
    font-family: 'Raleway';
    font-size: 26px;
    
     
}
.logo .black:hover{
    color: var(--blue-color); 
  
}

.logo .white:hover{
    color: var(--blue-color);
}

ul{
    list-style: none;
}
.basic-linc,
.basic-linck{
  
}

.basic-linc .linc{
    color: var(--black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    
}

.basic-linc .linc:hover, 
.basic-linc.linc:focus{
    color: var(--blue-color);
    
}
.basic-linc .linc.current{
    color: var(--blue-color);
}


/* мило и адресс */

.basic-linck .linck{
    color: var(--basic-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.basic-linck .linck:hover, 
.basic-linck.linck:focus{
    color: var(--blue-color);
}

/* Cекции h1 h2 */
.section-color-black{
    background: var(--section-order-service);
    outline: 2px solid red;
    
    

}
.section-title-h1{
    color : var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em; 
    text-transform: uppercase;
    
}
.section-color-black{
outline: 2px solid red;

}
.section-title-h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
}
.button {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: 700;
    line-height: 1.8;
    font-size: 16px;
    border:  #2196F3;
    border-radius: 4px;

    
    
}
.button:hover,
.button:focus{
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
    opacity: .7;

/* Кнопки портфолио */
}
.button-grey{
    font-family: inherit;
    background-color: #F5F4FA;
    color: var(--black-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button-grey-block{
    
}
    
.button-grey:hover,
.button-grey:focus{
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;

}
/* Картинки */
.section-picture{
    
}

/* Cекции h3 */


.main-information{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-color);
    

}
.information{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--basic-text-color);
    letter-spacing: 0.03em;
    display: inline-flex;
    text-align: start;
    outline: 2px solid red;
}
/* Команда */
.section-team{
    background: #F5F4FA;
    outline: 2px solid red;
  
}
.section-people{

}
.section-team-h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--black-color);
    

}
.section-team-p{
    font-size: 16px;
    line-height: 1.18;
    color: var(--basic-text-color);
    
}
/* Проект */
.project-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-color);

}
.project a{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--basic-text-color);
}





/* Футер */
.footer-grey{
    background-color: var(--section-order-service);
    
    
}
.address{
    color: var(--white-color);
    font-style: normal;

}
